
a{
  text-decoration: none;
  color: black;
}
.positon{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
header{
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 100%;
  background-color: white;
  z-index: 99999;
}
.flex{
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}


.left-fl{
  display: flex;
  align-items: center;
  gap: 23px;
  font-size: 15.7px;
}
.left_location{
  display: flex;
  align-items: center;
  gap: 3px;
  width: 118px;
}
.left_location select{
  background-color: transparent;
  width: 100%;
  font-size: 15.6px;
  border: none;
  font-family: 'Roboto', sans-serif;
}
.left-time a{
  display: flex;
  gap: 10px;
}


.right{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15.7px;
}
.right .account{
  display: flex;
  align-items: center;
  gap: 5px;
}


nav{
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 100%;
  padding: 15px 10px;
  background-color: white;
}
.nav{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
.nav .logo a{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav .shop{
  background-color: rgba(255, 112, 16, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 9px 10px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
 header{
  display: none;
} 
}