.box-all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 55px;
  padding-left: 15px;
  padding-right: 15px;
}
.box-all .box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgba(0, 0, 0, 0.043);
  padding: 15px 35px;
  background-color: white;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: .6s;
  margin-bottom: 20px;
  width: 125px;
}
.box-all .box:hover{
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.266);
}
.box-all .box:hover p{
  color: #e23535;
}






.imgall {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 35px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 30px;
}
.imgall .box_img{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgall .box_img img{
  transition: .4s;
  width: 100%;

}

.imgall .box_img img:hover{
box-shadow: 0 0 5px rgba(255, 0, 0, 0.6),0 0 10px rgba(255, 0, 0, 0.761);
border-radius: 15px;
cursor: pointer;
}

@media (max-width: 550px) {
 .imgall {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 35px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 30px;
}
.imgall .box_img{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
}